/* @import url('halloween.css'); */

@media screen {


    body {
        color: red;
        font-size: 100%;
        background-color: grey;
    }
    footer {font-weight:bold;}
    nav {text-transform:uppercase;}
    h2 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
background: #fceabb; /* Old browsers */
background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        font-size:1.5em;font-style: italic;color: green}
    header {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1ffff+0,e1ffff+7,e1ffff+12,fdffff+12,e6f8fd+35,c8eefb+51,bee4f8+76,b1d8f5+100 */

background: #e1ffff; /* Old browsers */
background: -moz-linear-gradient(top, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 35%, #c8eefb 51%, #bee4f8 76%, #b1d8f5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 35%,#c8eefb 51%,#bee4f8 76%,#b1d8f5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 35%,#c8eefb 51%,#bee4f8 76%,#b1d8f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        text-align: center;}
    header h2, 
    #hipster h2 span {color: black}

    p {font-size: 18px;color: blue}

    p.two {
        color: black;
    }



    /* li {
        font-variant: small-caps;
        color:red;
    }
    h1 {
        font-family: courier;
        color: blue;
        text-align: center;
    } */
    
   
   

}

